body{
    background: url('..//img/background.png');
    margin: 0;
   
}

.img-table{
    display: inline-block;
}

div{
    text-align: center;
}

.text{
    width: 350px;
    background-color: rgb(154, 153, 245);
    opacity: 0.9;
}

.heading{
    text-align: center;
    color: rgb(42, 42, 43);
    opacity: 0.9;
    margin: 50px;
}

.red{
    display: inline-block;
    background-color: rgb(230, 67, 39);
    width: 33%;
    color: rgb(230, 67, 39);
    
    
}

.yellow{
    display: inline-block;
    background-color: #ffe000;
    width: 33%;
    text-align: center;
    
}

.blue{
    display: inline-block;
    background-color: #004ce9;
    width: 33%;
    color: #004ce9;
}
