h1{
    margin: 5px;
}

.date{
    color: green;
}

.chemp{
    color: red;
}

.info a{
    text-decoration: none;
    color: rgb(0, 17, 255);
}

.info a::before{
    content: "★";
}

.n-str a{
    text-decoration: none;
    color: rgb(0, 17, 255);
}