body{
    text-align: center;
}

div{
    font-size: 18px;
    border: 2px solid #fcf8e6;
    border-radius: 10px;
    background: #fcf8e6;
    color: #545454;
}

h1{
    color: silver;
    border: 2 px solid #fcf8e6;
    background: #ffdd9f;
    border-radius: 10px;
}

